@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500|Source+Sans+Pro:400");

@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://anima-uploads.s3.amazonaws.com/projects/60bf9d9bf535567ec4e9ac56/fonts/arial.ttf")
    format("truetype");
}

@font-face {
  font-family: "GillSans-UltraBold";
  font-style: normal;
  font-weight: 700;
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6081762b2117ef1c72ae82c7/fonts/gillsansultrabold.ttf")
    format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://anima-uploads.s3.amazonaws.com/5ad90c8b588afb000b501a89/HelveticaNeue-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}
.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}
.auto-animated div {
  opacity: 0;
  position: absolute;
  --z-index: -1;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.hidden,
.hidden * {
  visibility: hidden;
  pointer-events: none;
}
.listeners-active,
.listeners-active * {
  pointer-events: auto;
}
.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}
.overlay {
  position: absolute;
  opacity: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
.overlay.animate-appear {
  opacity: 0;
  display: block;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
}
.overlay.animate-disappear {
  opacity: 1;
  display: block;
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
}
.screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.screen div {
  -webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
