/* screen - iphone-x-xs-11-pro-11 */

.iphone-x-xs-11-pro-11 {
  background-color: var(--alabaster);
  height: 1052px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-x-xs-11-pro-11 .about-us-xaVuqb {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 46px;
}
.iphone-x-xs-11-pro-11 .background-2tKpzK {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .background-CcEnn8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .background-VFPwiq {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .background-hbdSBV {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .component-1-RoMKZx {
  background-color: transparent;
  height: 16px;
  opacity: 0.2;
  position: absolute;
  right: 24px;
  top: calc(24.74% - 4px);
  width: 16px;
}
.iphone-x-xs-11-pro-11 .component-2-gh7KJN {
  background-color: transparent;
  height: 16px;
  opacity: 0.2;
  position: absolute;
  right: 24px;
  top: calc(32.00% - 5px);
  width: 16px;
}
.iphone-x-xs-11-pro-11 .component-3-0Mcpc4 {
  background-color: transparent;
  height: 16px;
  opacity: 0.2;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 16px;
}
.iphone-x-xs-11-pro-11 .component-4-6-C61RwL {
  background-color: transparent;
  height: 66px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-x-xs-11-pro-11 .contact-us-9y0ecd {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 55px;
}
.iphone-x-xs-11-pro-11 .container-right-2pLtn4 {
  background-color: transparent;
  bottom: calc(42.71% - 6px);
  height: 13px;
  left: 25px;
  position: absolute;
  width: 96px;
}
.iphone-x-xs-11-pro-11 .container-right-CcEnn8 {
  background-color: transparent;
  bottom: calc(42.71% - 6px);
  height: 13px;
  left: 220px;
  position: absolute;
  width: 53px;
}
.iphone-x-xs-11-pro-11 .container-right-Li1Vjh {
  background-color: transparent;
  height: 13px;
  left: 220px;
  position: absolute;
  top: calc(38.99% - 5px);
  width: 44px;
}
.iphone-x-xs-11-pro-11 .container-right-NTE7By {
  background-color: transparent;
  height: 13px;
  left: 25px;
  position: absolute;
  top: calc(17.50% - 2px);
  width: 73px;
}
.iphone-x-xs-11-pro-11 .container-right-OxQPnF {
  background-color: transparent;
  height: 13px;
  left: 25px;
  position: absolute;
  top: calc(38.99% - 5px);
  width: 61px;
}
.iphone-x-xs-11-pro-11 .delivery-C4jK3K {
  background-color: transparent;
  height: 16px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 46px;
}
.iphone-x-xs-11-pro-11 .delivery-C61RwL {
  background-color: transparent;
  height: 151px;
  left: 11px;
  position: absolute;
  top: 638px;
  width: 353px;
}
.iphone-x-xs-11-pro-11 .ellipse-313-Tm6tnV {
  background-color: var(--sonic-silver);
  border-radius: 4px;
  height: 8px;
  left: 16px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-11 .ellipse-314-Tm6tnV {
  background-color: var(--white);
  border: 1px solid var(--sonic-silver);
  border-radius: 4px;
  height: 8px;
  position: absolute;
  right: 9px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-11 .ellipse-316-Tm6tnV {
  background-color: var(--sonic-silver);
  border-radius: 4px;
  height: 8px;
  position: absolute;
  right: calc(48.68% - 4px);
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-11 .ellipse-317-C4jK3K {
  background-color: var(--white);
  border-radius: 8px;
  height: 16px;
  left: 24px;
  position: absolute;
  top: calc(37.78% - 6px);
  width: 16px;
}
.iphone-x-xs-11-pro-11 .ellipse-318-C4jK3K {
  background-color: var(--white);
  border-radius: 8px;
  bottom: calc(40.00% - 6px);
  height: 16px;
  left: 24px;
  position: absolute;
  width: 16px;
}
.iphone-x-xs-11-pro-11 .ellipse-319-C4jK3K {
  background-color: var(--white);
  border-radius: 8px;
  bottom: calc(17.78% - 3px);
  height: 16px;
  left: 24px;
  position: absolute;
  width: 16px;
}
.iphone-x-xs-11-pro-11 .ellipse-320-C4jK3K {
  background-color: #2699fb;
  border-radius: 4px;
  bottom: calc(40.56% - 3px);
  height: 8px;
  left: 28px;
  position: absolute;
  width: 8px;
}
.iphone-x-xs-11-pro-11 .facebook-176-nllXwE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .finish-order-C61RwL {
  background-color: transparent;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 835px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-11 .follow-us-AGKBKO {
  background-color: transparent;
  bottom: calc(116.67% - 18px);
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 51px;
}
.iphone-x-xs-11-pro-11 .free-shipping-australia-wide-wz60dm {
  background-color: transparent;
  bottom: calc(44.03% - 10px);
  height: 22px;
  letter-spacing: -0.17px;
  line-height: 17px;
  position: absolute;
  right: calc(33.53% - 85px);
  text-align: center;
  white-space: nowrap;
  width: 254px;
}
.iphone-x-xs-11-pro-11 .free5001000-C4jK3K {
  background-color: transparent;
  bottom: calc(38.19% - 30px);
  height: 79px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: 22px;
  text-align: right;
  white-space: nowrap;
  width: 45px;
}
.iphone-x-xs-11-pro-11 .gloomhaven22599-qty-2-0Mcpc4 {
  background-color: transparent;
  bottom: 20px;
  height: 43px;
  left: calc(35.04% - 35px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 99px;
}
.iphone-x-xs-11-pro-11 .group-10-C61RwL {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 913px;
  width: 375px;
}
.iphone-x-xs-11-pro-11 .group-15-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 375px;
}
.iphone-x-xs-11-pro-11 .icon-facebook-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(50.00% - 11px);
  top: 0px;
  width: 23px;
}
.iphone-x-xs-11-pro-11 .icon-instagram-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(25.23% - 6px);
  top: 0px;
  width: 24px;
}
.iphone-x-xs-11-pro-11 .icon-metro-truck-wz60dm {
  background-color: transparent;
  bottom: calc(50.00% - 11px);
  height: 21px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 26px;
}
.iphone-x-xs-11-pro-11 .icon-twitter-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 22px;
}
.iphone-x-xs-11-pro-11 .icons-2tKpzK {
  background-color: transparent;
  height: 12px;
  left: calc(44.49% - 3px);
  position: absolute;
  top: calc(42.02% - 5px);
  width: 6px;
}
.iphone-x-xs-11-pro-11 .icons-VFPwiq {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(48.23% - 6px);
  top: calc(42.02% - 5px);
  width: 12px;
}
.iphone-x-xs-11-pro-11 .icons-hbdSBV {
  background-color: transparent;
  height: 9px;
  left: calc(48.97% - 6px);
  position: absolute;
  top: calc(43.58% - 4px);
  width: 12px;
}
.iphone-x-xs-11-pro-11 .instagram-167-Rl3ZwM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .menu-O94f9N {
  background-color: transparent;
  bottom: calc(39.02% - 6px);
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  width: 16px;
}
.iphone-x-xs-11-pro-11 .navigation-bar-1-h3XSx5 {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .navigation-bar-C61RwL {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 113px;
  width: 375px;
}
.iphone-x-xs-11-pro-11 .order-0Mcpc4 {
  background-color: transparent;
  height: 16px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 32px;
}
.iphone-x-xs-11-pro-11 .order-C61RwL {
  background-color: transparent;
  height: 161px;
  left: 11px;
  position: absolute;
  top: 469px;
  width: 353px;
}
.iphone-x-xs-11-pro-11 .order-Tm6tnV {
  background-color: transparent;
  bottom: -2px;
  height: 15px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: -2px;
  text-align: center;
  white-space: nowrap;
  width: 28px;
}
.iphone-x-xs-11-pro-11 .order-status-423M6d {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 63px;
}
.iphone-x-xs-11-pro-11 .pagination-C61RwL {
  background-color: transparent;
  height: 33px;
  left: 28px;
  position: absolute;
  top: 179px;
  width: 314px;
}
.iphone-x-xs-11-pro-11 .path-110-4urg1x {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .path-110-OXd3ER {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .path-110-ySA3Cv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .path-583-CcEnn8 {
  background-color: transparent;
  bottom: 28.46%;
  height: 1px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 35px);
}
.iphone-x-xs-11-pro-11 .path-587-C61RwL {
  background-color: transparent;
  height: 137px;
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 384px;
}
.iphone-x-xs-11-pro-11 .path-99-NM9uH3 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .payment-2L5hEU {
  background-color: transparent;
  height: 22px;
  left: calc(3.61% - 3px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: calc(34.78% - 8px);
  white-space: nowrap;
  width: 70px;
}
.iphone-x-xs-11-pro-11 .payment-Tm6tnV {
  background-color: transparent;
  bottom: -2px;
  height: 15px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(48.15% - 20px);
  text-align: center;
  white-space: nowrap;
  width: 42px;
}
.iphone-x-xs-11-pro-11 .payment-details-C61RwL {
  background-color: transparent;
  height: 91px;
  left: 11px;
  position: absolute;
  top: 370px;
  width: 353px;
}
.iphone-x-xs-11-pro-11 .payment-details-gh7KJN {
  background-color: transparent;
  height: 16px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(29.33% - 5px);
  white-space: nowrap;
  width: 90px;
}
.iphone-x-xs-11-pro-11 .rectangle-1382-Tm6tnV {
  background-color: #f2f2f2;
  height: 4px;
  left: 23px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 39px);
}
.iphone-x-xs-11-pro-11 .rectangle-1383-RoMKZx {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-1384-gh7KJN {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-1385-0Mcpc4 {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-1387-C4jK3K {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-1388-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 92px;
  left: 11px;
  position: absolute;
  top: 797px;
  width: 353px;
}
.iphone-x-xs-11-pro-11 .rectangle-175-ai029n {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-176-NM9uH3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-177-h3XSx5 {
  background-color: var(--blumine);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-178-wz60dm {
  background-color: var(--sky-blue);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-192-C61RwL {
  background-color: var(--scooter);
  border-radius: 10px;
  height: 37px;
  left: 93px;
  position: absolute;
  top: 825px;
  width: 189px;
}
.iphone-x-xs-11-pro-11 .rectangle-324-4urg1x {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-324-OXd3ER {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-324-ySA3Cv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-68-2L5hEU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-68-O94f9N {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-69-2L5hEU {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 0px;
  position: absolute;
  top: 20px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .rectangle-69-O94f9N {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 0px;
  position: absolute;
  top: 20px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .search-O94f9N {
  background-color: transparent;
  bottom: calc(37.14% - 8px);
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: 20px;
  width: 22px;
}
.iphone-x-xs-11-pro-11 .shipping-Tm6tnV {
  background-color: transparent;
  bottom: -2px;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 42px;
}
.iphone-x-xs-11-pro-11 .shipping-to-C61RwL {
  background-color: transparent;
  height: 113px;
  left: 11px;
  position: absolute;
  top: 249px;
  width: 353px;
}
.iphone-x-xs-11-pro-11 .shipping-to-RoMKZx {
  background-color: transparent;
  height: 16px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(22.68% - 4px);
  white-space: nowrap;
  width: 65px;
}
.iphone-x-xs-11-pro-11 .sign-in-join-us-xW2w8C {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 75px;
}
.iphone-x-xs-11-pro-11 .social-follow-wireframe-CcEnn8 {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: 24px;
  top: 18px;
  width: 131px;
}
.iphone-x-xs-11-pro-11 .span0-0eP6Bc {

}
.iphone-x-xs-11-pro-11 .span0-OVPzOL {

}
.iphone-x-xs-11-pro-11 .span0-PNNLHE {

}
.iphone-x-xs-11-pro-11 .span0-viMvSx {

}
.iphone-x-xs-11-pro-11 .span0-zrh0my {

}
.iphone-x-xs-11-pro-11 .span1-0eP6Bc {

}
.iphone-x-xs-11-pro-11 .span1-OVPzOL {

}
.iphone-x-xs-11-pro-11 .span1-PNNLHE {

}
.iphone-x-xs-11-pro-11 .span1-viMvSx {

}
.iphone-x-xs-11-pro-11 .span1-zrh0my {

}
.iphone-x-xs-11-pro-11 .span2-0eP6Bc {

}
.iphone-x-xs-11-pro-11 .span2-zrh0my {

}
.iphone-x-xs-11-pro-11 .standart-7-days-yspremium-1-day-C4jK3K {
  background-color: transparent;
  bottom: calc(38.19% - 30px);
  height: 79px;
  left: calc(25.82% - 28px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 109px;
}
.iphone-x-xs-11-pro-11 .terms-conditions-5L9TkH {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 98px;
}
.iphone-x-xs-11-pro-11 .the-quest-for-p-nine2899-qty-1-0Mcpc4 {
  background-color: transparent;
  height: 43px;
  left: calc(49.21% - 81px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: calc(40.25% - 17px);
  white-space: nowrap;
  width: 164px;
}
.iphone-x-xs-11-pro-11 .thegameshop-O94f9N {
  background-color: transparent;
  bottom: calc(26.92% - 8px);
  cursor: pointer;
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  right: calc(49.04% - 107px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.iphone-x-xs-11-pro-11 .twitter-154-lyL5Gg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .union-4-ai029n {
  background-color: transparent;
  height: calc(100.00% - 2px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .video-0Mcpc4 {
  background-color: transparent;
  height: 37px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 40px;
}
.iphone-x-xs-11-pro-11 .video-VqxJtj {
  background-color: transparent;
  height: 37px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 105px;
  width: 40px;
}
.iphone-x-xs-11-pro-11 .x2021-michael-whitely-911884-CcEnn8 {
  background-color: transparent;
  bottom: 19px;
  height: 15px;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 147px;
}
.iphone-x-xs-11-pro-11 .x497-evergreen-r-eville-ca-95673-RoMKZx {
  background-color: transparent;
  bottom: calc(32.14% - 14px);
  height: 43px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 185px;
}
.iphone-x-xs-11-pro-11 .xxxx-xxxx-xxxx-1908-gh7KJN {
  background-color: transparent;
  bottom: calc(36.11% - 7px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 178px;
}
