/* screen - iphone-x-xs-11-pro-10 */

.iphone-x-xs-11-pro-10 {
  background-color: var(--alabaster);
  height: 1404px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-x-xs-11-pro-10 .about-us-xaVuqb {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 46px;
}
.iphone-x-xs-11-pro-10 .across-the-glob-s-will-take-you-C61RwL {
  background-color: transparent;
  color: var(--deep-space-sparkle);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-weight: 300;
  height: auto;
  left: 30px;
  letter-spacing: -0.11px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 705px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-10 .background-2tKpzK {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .background-CcEnn8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .background-VFPwiq {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .background-hbdSBV {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .badge-pillh6-extra-small-2P4qUJ {
  background-color: transparent;
  height: 21px;
  left: 30px;
  position: absolute;
  top: 905px;
  width: 82px;
}
.iphone-x-xs-11-pro-10 .badge-pillh6-extra-small-C61RwL {
  background-color: transparent;
  height: 21px;
  left: 30px;
  position: absolute;
  top: 874px;
  width: 74px;
}
.iphone-x-xs-11-pro-10 .badge-pillh6-extra-small-J1YQmd {
  background-color: transparent;
  height: 21px;
  left: 196px;
  position: absolute;
  top: 905px;
  width: 80px;
}
.iphone-x-xs-11-pro-10 .badge-pillh6-extra-small-QxM5SU {
  background-color: transparent;
  height: 21px;
  left: 204px;
  position: absolute;
  top: 874px;
  width: 40px;
}
.iphone-x-xs-11-pro-10 .badge-pillh6-extra-small-VMr6Om {
  background-color: transparent;
  height: 21px;
  left: 114px;
  position: absolute;
  top: 874px;
  width: 80px;
}
.iphone-x-xs-11-pro-10 .badge-pillh6-extra-small-mzXdH9 {
  background-color: transparent;
  height: 21px;
  left: 254px;
  position: absolute;
  top: 874px;
  width: 58px;
}
.iphone-x-xs-11-pro-10 .badge-pillh6-extra-small-qr8e7q {
  background-color: transparent;
  height: 21px;
  left: 122px;
  position: absolute;
  top: 905px;
  width: 64px;
}
.iphone-x-xs-11-pro-10 .color-2jKi01 {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .color-Ib0EjZ {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .color-TZTB0J {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .color-Txagr2 {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .color-ajpcrP {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .color-jlZkqG {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .color-jxPFuo {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .component-4-5-C61RwL {
  background-color: transparent;
  height: 66px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-x-xs-11-pro-10 .contact-us-9y0ecd {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 55px;
}
.iphone-x-xs-11-pro-10 .container-right-2pLtn4 {
  background-color: transparent;
  bottom: calc(42.71% - 6px);
  height: 13px;
  left: 25px;
  position: absolute;
  width: 96px;
}
.iphone-x-xs-11-pro-10 .container-right-CcEnn8 {
  background-color: transparent;
  bottom: calc(42.71% - 6px);
  height: 13px;
  left: 220px;
  position: absolute;
  width: 53px;
}
.iphone-x-xs-11-pro-10 .container-right-Li1Vjh {
  background-color: transparent;
  height: 13px;
  left: 220px;
  position: absolute;
  top: calc(38.99% - 5px);
  width: 44px;
}
.iphone-x-xs-11-pro-10 .container-right-NTE7By {
  background-color: transparent;
  height: 13px;
  left: 25px;
  position: absolute;
  top: calc(17.50% - 2px);
  width: 73px;
}
.iphone-x-xs-11-pro-10 .container-right-OxQPnF {
  background-color: transparent;
  height: 13px;
  left: 25px;
  position: absolute;
  top: calc(38.99% - 5px);
  width: 61px;
}
.iphone-x-xs-11-pro-10 .description-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: -0.19px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 657px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-10 .description-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: -0.19px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 657px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-10 .eldritch-horror-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 48px;
  letter-spacing: -0.25px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 510px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-10 .facebook-176-nllXwE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .follow-us-AGKBKO {
  background-color: transparent;
  bottom: calc(116.67% - 18px);
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 51px;
}
.iphone-x-xs-11-pro-10 .forsaken-lore-zuxX4a {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 79px;
}
.iphone-x-xs-11-pro-10 .free-shipping-australia-wide-wz60dm {
  background-color: transparent;
  bottom: calc(44.03% - 10px);
  height: 22px;
  letter-spacing: -0.17px;
  line-height: 17px;
  position: absolute;
  right: calc(33.53% - 85px);
  text-align: center;
  white-space: nowrap;
  width: 254px;
}
.iphone-x-xs-11-pro-10 .group-10-C61RwL {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 1266px;
  width: 375px;
}
.iphone-x-xs-11-pro-10 .group-15-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 375px;
}
.iphone-x-xs-11-pro-10 .group-16-5Wkc3o {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .group-16-JE1pWx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .group-18-StUjmZ {
  background-color: transparent;
  bottom: 27px;
  height: 178px;
  left: 30px;
  position: absolute;
  width: 145px;
}
.iphone-x-xs-11-pro-10 .group-2-7SpOUy {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-10 .group-2-C61RwL {
  background-color: transparent;
  height: 53px;
  left: 273px;
  position: absolute;
  top: 548px;
  width: 53px;
}
.iphone-x-xs-11-pro-10 .group-2-zuxX4a {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-10 .group-24-StUjmZ {
  background-color: transparent;
  bottom: 27px;
  height: 178px;
  position: absolute;
  right: 29px;
  width: 145px;
}
.iphone-x-xs-11-pro-10 .group-25-C61RwL {
  background-color: transparent;
  height: 265px;
  left: 0px;
  position: absolute;
  top: 977px;
  width: 375px;
}
.iphone-x-xs-11-pro-10 .group-3-7SpOUy {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-10 .group-3-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 48px;
  position: absolute;
  top: 544px;
  width: 60px;
}
.iphone-x-xs-11-pro-10 .group-3-zuxX4a {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-10 .icon-facebook-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(50.00% - 11px);
  top: 0px;
  width: 23px;
}
.iphone-x-xs-11-pro-10 .icon-instagram-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(25.23% - 6px);
  top: 0px;
  width: 24px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-2x6j0h {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-C69KPx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-CqPHs4 {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-NSHvE3 {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 9px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 17px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-Rt9Xyi {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 17px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-YqukJM {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-ejFi3L {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-hvAGCq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 17px;
}
.iphone-x-xs-11-pro-10 .icon-ionic-ios-star-xPxCwE {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-10 .icon-material-navigate-next-StUjmZ {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 19px;
  object-fit: cover;
  position: absolute;
  right: 5px;
  width: 12px;
}
.iphone-x-xs-11-pro-10 .icon-metro-cart-4NxBvq {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-10 .icon-metro-cart-kXj8Sk {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-10 .icon-metro-cart-zUixHA {
  background-color: transparent;
  height: calc(100.00% - 24px);
  left: calc(43.44% - 13px);
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 30px;
}
.iphone-x-xs-11-pro-10 .icon-metro-truck-wz60dm {
  background-color: transparent;
  bottom: calc(50.00% - 11px);
  height: 21px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 26px;
}
.iphone-x-xs-11-pro-10 .icon-twitter-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 22px;
}
.iphone-x-xs-11-pro-10 .icons-2tKpzK {
  background-color: transparent;
  height: 12px;
  left: calc(44.49% - 3px);
  position: absolute;
  top: calc(42.02% - 5px);
  width: 6px;
}
.iphone-x-xs-11-pro-10 .icons-VFPwiq {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(48.23% - 6px);
  top: calc(42.02% - 5px);
  width: 12px;
}
.iphone-x-xs-11-pro-10 .icons-hbdSBV {
  background-color: transparent;
  height: 9px;
  left: calc(48.97% - 6px);
  position: absolute;
  top: calc(43.58% - 4px);
  width: 12px;
}
.iphone-x-xs-11-pro-10 .instagram-167-Rl3ZwM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .label-2jKi01 {
  background-color: transparent;
  height: 18px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.iphone-x-xs-11-pro-10 .label-Ib0EjZ {
  background-color: transparent;
  height: 18px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.iphone-x-xs-11-pro-10 .label-TZTB0J {
  background-color: transparent;
  height: 18px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.iphone-x-xs-11-pro-10 .label-Txagr2 {
  background-color: transparent;
  height: 18px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.iphone-x-xs-11-pro-10 .label-ajpcrP {
  background-color: transparent;
  height: 18px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.iphone-x-xs-11-pro-10 .label-jlZkqG {
  background-color: transparent;
  height: 18px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.iphone-x-xs-11-pro-10 .label-jxPFuo {
  background-color: transparent;
  height: 18px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.iphone-x-xs-11-pro-10 .menu-frxFNf {
  background-color: transparent;
  bottom: calc(39.02% - 6px);
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  width: 16px;
}
.iphone-x-xs-11-pro-10 .navigation-bar-1-TILPYY {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .order-status-423M6d {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 63px;
}
.iphone-x-xs-11-pro-10 .path-583-CcEnn8 {
  background-color: transparent;
  bottom: 28.46%;
  height: 1px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 35px);
}
.iphone-x-xs-11-pro-10 .path-586-StUjmZ {
  background-color: transparent;
  height: calc(100.00% + 9px);
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: calc(100.00% + 9px);
}
.iphone-x-xs-11-pro-10 .path-99-dtvqY4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-175-fcQ7eC {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-176-dtvqY4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-177-TILPYY {
  background-color: var(--blumine);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-178-wz60dm {
  background-color: var(--sky-blue);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-179-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 503px;
  left: 11px;
  position: absolute;
  top: 124px;
  width: 353px;
}
.iphone-x-xs-11-pro-10 .rectangle-180-4NxBvq {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-180-kXj8Sk {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-180-zUixHA {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-194-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 166px;
  left: 11px;
  position: absolute;
  top: 649px;
  width: 353px;
}
.iphone-x-xs-11-pro-10 .rectangle-195-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 108px;
  left: 11px;
  position: absolute;
  top: 839px;
  width: 353px;
}
.iphone-x-xs-11-pro-10 .rectangle-68-frxFNf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .rectangle-69-frxFNf {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 0px;
  position: absolute;
  top: 20px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .search-frxFNf {
  background-color: transparent;
  bottom: calc(37.14% - 8px);
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: 20px;
  width: 22px;
}
.iphone-x-xs-11-pro-10 .sign-in-join-us-xW2w8C {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 75px;
}
.iphone-x-xs-11-pro-10 .signs-of-carcosa-7SpOUy {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 91px;
}
.iphone-x-xs-11-pro-10 .social-follow-wireframe-CcEnn8 {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: 24px;
  top: 18px;
  width: 131px;
}
.iphone-x-xs-11-pro-10 .span0-2nfAN0 {
  color: var(--black);
  font-style: normal;
}
.iphone-x-xs-11-pro-10 .span1-2nfAN0 {
  font-style: normal;
}
.iphone-x-xs-11-pro-10 .tags-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: -0.19px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 846px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-10 .terms-conditions-5L9TkH {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 98px;
}
.iphone-x-xs-11-pro-10 .thegameshop-frxFNf {
  background-color: transparent;
  bottom: calc(26.92% - 8px);
  cursor: pointer;
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  right: calc(49.04% - 107px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.iphone-x-xs-11-pro-10 .twitter-154-lyL5Gg {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .union-4-fcQ7eC {
  background-color: transparent;
  height: calc(100.00% - 2px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .users-also-bought-StUjmZ {
  background-color: transparent;
  height: 22px;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 140px;
}
.iphone-x-xs-11-pro-10 .video-7SpOUy {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .video-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 144px;
  width: 319px;
}
.iphone-x-xs-11-pro-10 .video-QxM5SU {
  background-color: transparent;
  height: 49px;
  left: 181px;
  object-fit: cover;
  position: absolute;
  top: 437px;
  width: 54px;
}
.iphone-x-xs-11-pro-10 .video-VMr6Om {
  background-color: transparent;
  height: 49px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 437px;
  width: 54px;
}
.iphone-x-xs-11-pro-10 .video-mzXdH9 {
  background-color: transparent;
  height: 49px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 437px;
  width: 54px;
}
.iphone-x-xs-11-pro-10 .video-zuxX4a {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-10 .x2021-michael-whitely-911884-CcEnn8 {
  background-color: transparent;
  bottom: 19px;
  height: 15px;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 147px;
}
.iphone-x-xs-11-pro-10 .x2899-7SpOUy {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-10 .x2899-zuxX4a {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-10 .x8899-C61RwL {
  background-color: transparent;
  color: var(--scooter);
  font-family: var(--font-family-roboto);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 48px;
  letter-spacing: -0.25px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 574px;
  white-space: nowrap;
  width: auto;
}
