/* screen - iphone-x-xs-11-pro-6 */

#overlay-iphone-x-xs-11-pro-6 {
  background-color: transparent;
}
.iphone-x-xs-11-pro-6 {
  background-color: transparent;
  cursor: pointer;
  height: 662px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 278px;
}
.iphone-x-xs-11-pro-6 .account-AX7pWk {
  background-color: transparent;
  height: 16px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  right: calc(18.10% - 10px);
  text-align: left;
  top: calc(20.51% - 3px);
  width: 57px;
}
.iphone-x-xs-11-pro-6 .available-now-BDHW7B {
  background-color: transparent;
  height: 15px;
  left: 150px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 76px;
  white-space: nowrap;
  width: 64px;
}
.iphone-x-xs-11-pro-6 .available-now-j8d4IW {
  background-color: transparent;
  height: 15px;
  left: 150px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 62px;
  white-space: nowrap;
  width: 64px;
}
.iphone-x-xs-11-pro-6 .cart-AX7pWk {
  background-color: transparent;
  height: 16px;
  left: calc(22.04% - 7px);
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(20.51% - 3px);
  width: 33px;
}
.iphone-x-xs-11-pro-6 .checkout-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 608px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-6 .component-3-1-C61RwL {
  background-color: transparent;
  height: 198px;
  left: 5px;
  position: absolute;
  top: 108px;
  width: 268px;
}
.iphone-x-xs-11-pro-6 .component-3-2-C61RwL {
  background-color: transparent;
  height: 198px;
  left: 5px;
  position: absolute;
  top: 320px;
  width: 268px;
}
.iphone-x-xs-11-pro-6 .delivery-cost-C61RwL {
  background-color: transparent;
  height: auto;
  left: 83px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 548px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-6 .dropdown-button-down-background-N5MuB4 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .dropdown-button-down-background-YMMRuz {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .free-C61RwL {
  background-color: transparent;
  height: auto;
  left: 200px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 548px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-6 .gloomhaven-j8d4IW {
  background-color: transparent;
  height: 16px;
  left: 150px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: 68px;
}
.iphone-x-xs-11-pro-6 .group-12-BDHW7B {
  background-color: transparent;
  bottom: calc(25.68% - 4px);
  height: 15px;
  left: calc(34.44% - 9px);
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-6 .group-12-j8d4IW {
  background-color: transparent;
  bottom: calc(25.68% - 4px);
  height: 15px;
  left: calc(34.44% - 9px);
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-6 .group-13-AX7pWk {
  background-color: transparent;
  bottom: 14px;
  height: 22px;
  left: calc(50.00% - 62px);
  position: absolute;
  width: 124px;
}
.iphone-x-xs-11-pro-6 .group-14-C61RwL {
  background-color: transparent;
  height: 94px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 278px;
}
.iphone-x-xs-11-pro-6 .group-3-BDHW7B {
  background-color: transparent;
  height: 8px;
  left: 150px;
  position: absolute;
  top: calc(23.64% - 2px);
  width: 47px;
}
.iphone-x-xs-11-pro-6 .group-3-j8d4IW {
  background-color: transparent;
  height: 8px;
  left: 150px;
  position: absolute;
  top: calc(16.28% - 1px);
  width: 47px;
}
.iphone-x-xs-11-pro-6 .icon-ionic-ios-star-6IkMR2 {
  background-color: transparent;
  height: 100%;
  left: calc(24.84% - 2px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-ionic-ios-star-7TcQ7R {
  background-color: transparent;
  height: 100%;
  left: calc(49.68% - 4px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-ionic-ios-star-RqnMgK {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 2px);
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-ionic-ios-star-akcKHY {
  background-color: transparent;
  height: 100%;
  left: calc(49.68% - 4px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-ionic-ios-star-c36EMC {
  background-color: transparent;
  height: 100%;
  left: calc(24.84% - 2px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-ionic-ios-star-jyB01x {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 2px);
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-ionic-ios-star-ur37Pk {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-ionic-ios-star-whnFUq {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-material-star-half-ur37Pk {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-material-star-half-whnFUq {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-6 .icon-metro-cart-7WolNB {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: calc(100.00% - 110px);
}
.iphone-x-xs-11-pro-6 .icondropdown-arrow-N5MuB4 {
  background-color: transparent;
  height: 3px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 5px;
}
.iphone-x-xs-11-pro-6 .icondropdown-arrow-YMMRuz {
  background-color: transparent;
  height: 3px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 5px;
}
.iphone-x-xs-11-pro-6 .icondropdown-arrowdefault-F1Uqdc {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 5px;
  opacity: 0.7;
  position: absolute;
  right: 7px;
  width: 5px;
}
.iphone-x-xs-11-pro-6 .icondropdown-arrowdefault-ut0Vpt {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 5px;
  opacity: 0.7;
  position: absolute;
  right: 7px;
  width: 5px;
}
.iphone-x-xs-11-pro-6 .input-group-bas-t-middle-medium-84LyMe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-bas-t-middle-medium-Q99TUp {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-bas-t-middle-medium-dS8S9w {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-bas-t-middle-medium-tMrCTP {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-middle-placeholder-10pKYI {
  background-color: var(--white);
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-middle-placeholder-5VzxWS {
  background-color: var(--white);
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-middle-placeholder-MGXMNs {
  background-color: var(--white);
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-middle-placeholder-dNzvHk {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-middle-placeholder-gnbGFj {
  background-color: var(--white);
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-middle-placeholder-khWHWb {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-middle-placeholder-v3NkaO {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .input-group-middle-placeholder-xcwlde {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .quantity-BDHW7B {
  background-color: transparent;
  height: 15px;
  left: 38px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 137px;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-6 .quantity-j8d4IW {
  background-color: transparent;
  height: 15px;
  left: 38px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 137px;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-6 .rectangle-187-AX7pWk {
  background-color: var(--white);
  bottom: 0px;
  box-shadow: 0px 1px 3px #00000029;
  height: 49px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .rectangle-188-AX7pWk {
  background-color: var(--scooter);
  height: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 139px;
}
.iphone-x-xs-11-pro-6 .rectangle-189-AX7pWk {
  background-color: var(--white);
  height: 45px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 139px;
}
.iphone-x-xs-11-pro-6 .rectangle-190-BDHW7B {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .rectangle-190-j8d4IW {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .rectangle-191-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 116px;
  left: 5px;
  position: absolute;
  top: 532px;
  width: 268px;
}
.iphone-x-xs-11-pro-6 .rectangle-192-C61RwL {
  background-color: var(--scooter);
  border-radius: 10px;
  cursor: pointer;
  height: 27px;
  left: 70px;
  position: absolute;
  top: 601px;
  width: 139px;
}
.iphone-x-xs-11-pro-6 .rectangle-193-C61RwL {
  background-color: var(--white);
  height: 662px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 278px;
}
.iphone-x-xs-11-pro-6 .remove-dNzvHk {
  background-color: transparent;
  height: 13px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: left;
  top: 5px;
  white-space: nowrap;
  width: 34px;
}
.iphone-x-xs-11-pro-6 .remove-xcwlde {
  background-color: transparent;
  height: 13px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: left;
  top: 5px;
  white-space: nowrap;
  width: 34px;
}
.iphone-x-xs-11-pro-6 .search-BDHW7B {
  background-color: transparent;
  height: calc(100.00% - 177px);
  left: 109px;
  position: absolute;
  top: 165px;
  width: calc(100.00% - 218px);
}
.iphone-x-xs-11-pro-6 .search-F1Uqdc {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .search-j8d4IW {
  background-color: transparent;
  height: calc(100.00% - 177px);
  left: 109px;
  position: absolute;
  top: 165px;
  width: calc(100.00% - 218px);
}
.iphone-x-xs-11-pro-6 .search-ut0Vpt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-6 .span0-cG6Z6I {
  color: var(--black);
  font-style: normal;
}
.iphone-x-xs-11-pro-6 .span1-cG6Z6I {
  font-style: normal;
}
.iphone-x-xs-11-pro-6 .the-quest-for-planet-nine-BDHW7B {
  background-color: transparent;
  height: 30px;
  left: 150px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 17px;
  white-space: nowrap;
  width: 112px;
}
.iphone-x-xs-11-pro-6 .total-C61RwL {
  background-color: transparent;
  height: auto;
  left: 117px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 568px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-6 .video-BDHW7B {
  background-color: transparent;
  height: 115px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 125px;
}
.iphone-x-xs-11-pro-6 .video-j8d4IW {
  background-color: transparent;
  height: 115px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 125px;
}
.iphone-x-xs-11-pro-6 .x1-khWHWb {
  background-color: transparent;
  height: 10px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 6px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 5px;
}
.iphone-x-xs-11-pro-6 .x2-v3NkaO {
  background-color: transparent;
  height: 10px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 6px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 5px;
}
.iphone-x-xs-11-pro-6 .x22599-Dvxa2Q {
  background-color: transparent;
  bottom: 46px;
  height: 16px;
  left: 164px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 45px;
}
.iphone-x-xs-11-pro-6 .x22599-j8d4IW {
  background-color: transparent;
  bottom: 138px;
  height: 16px;
  left: 150px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 45px;
}
.iphone-x-xs-11-pro-6 .x28397-C61RwL {
  background-color: transparent;
  height: auto;
  left: 200px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 568px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-6 .x2899-BDHW7B {
  background-color: transparent;
  bottom: 124px;
  height: 16px;
  left: 150px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-6 .x5798-BDHW7B {
  background-color: transparent;
  bottom: 46px;
  height: 16px;
  left: 164px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-6 .you-have-3-item-total-of-28397-7WolNB {
  background-color: transparent;
  color: var(--scooter);
  font-family: var(--font-family-roboto);
  font-size: 9px;
  font-weight: 400;
  height: calc(100.00% + 2px);
  letter-spacing: -0.09px;
  line-height: 9px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 102px;
}
.overlay .iphone-x-xs-11-pro-6 {
  background-color: #00000000;
}
