/* screen - iphone-x-xs-11-pro-9 */

.iphone-x-xs-11-pro-9 {
  background-color: var(--alabaster);
  height: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-x-xs-11-pro-9 .about-us-xaVuqb {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 46px;
}
.iphone-x-xs-11-pro-9 .arkham-horror-ZxpSg6 {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 79px;
}
.iphone-x-xs-11-pro-9 .background-2tKpzK {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .background-CcEnn8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .background-VFPwiq {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .background-hbdSBV {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .cities-in-ruin-DQIHcd {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 72px;
}
.iphone-x-xs-11-pro-9 .component-1-16-C61RwL {
  background-color: transparent;
  height: 43px;
  left: 206px;
  position: absolute;
  top: 375px;
  width: 126px;
}
.iphone-x-xs-11-pro-9 .component-4-4-C61RwL {
  background-color: transparent;
  height: 66px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-x-xs-11-pro-9 .contact-us-9y0ecd {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 55px;
}
.iphone-x-xs-11-pro-9 .container-right-2pLtn4 {
  background-color: transparent;
  bottom: calc(42.71% - 6px);
  height: 13px;
  left: 25px;
  position: absolute;
  width: 96px;
}
.iphone-x-xs-11-pro-9 .container-right-CcEnn8 {
  background-color: transparent;
  bottom: calc(42.71% - 6px);
  height: 13px;
  left: 220px;
  position: absolute;
  width: 53px;
}
.iphone-x-xs-11-pro-9 .container-right-Li1Vjh {
  background-color: transparent;
  height: 13px;
  left: 220px;
  position: absolute;
  top: calc(38.99% - 5px);
  width: 44px;
}
.iphone-x-xs-11-pro-9 .container-right-NTE7By {
  background-color: transparent;
  height: 13px;
  left: 25px;
  position: absolute;
  top: calc(17.50% - 2px);
  width: 73px;
}
.iphone-x-xs-11-pro-9 .container-right-OxQPnF {
  background-color: transparent;
  height: 13px;
  left: 25px;
  position: absolute;
  top: calc(38.99% - 5px);
  width: 61px;
}
.iphone-x-xs-11-pro-9 .eldritch-horror-dOltAM {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}
.iphone-x-xs-11-pro-9 .facebook-176-nllXwE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .filter-your-search-bHPAwj {
  background-color: transparent;
  height: 15px;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: 78px;
}
.iphone-x-xs-11-pro-9 .follow-us-AGKBKO {
  background-color: transparent;
  bottom: calc(116.67% - 18px);
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 51px;
}
.iphone-x-xs-11-pro-9 .forsaken-lore-rExs9j {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 79px;
}
.iphone-x-xs-11-pro-9 .free-shipping-australia-wide-wz60dm {
  background-color: transparent;
  bottom: calc(44.03% - 10px);
  height: 22px;
  letter-spacing: -0.17px;
  line-height: 17px;
  position: absolute;
  right: calc(33.53% - 85px);
  text-align: center;
  white-space: nowrap;
  width: 254px;
}
.iphone-x-xs-11-pro-9 .group-10-C61RwL {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 1161px;
  width: 375px;
}
.iphone-x-xs-11-pro-9 .group-15-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 375px;
}
.iphone-x-xs-11-pro-9 .group-16-0xverS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .group-16-2eLxbt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .group-16-8x0eH3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .group-16-B2GfxI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .group-16-IE4p6q {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .group-16-VdQhAS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .group-16-ebBR7z {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .group-17-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 178px;
  left: 30px;
  position: absolute;
  top: 240px;
  width: 145px;
}
.iphone-x-xs-11-pro-9 .group-18-C61RwL {
  background-color: transparent;
  height: 178px;
  left: 30px;
  position: absolute;
  top: 442px;
  width: 145px;
}
.iphone-x-xs-11-pro-9 .group-19-C61RwL {
  background-color: transparent;
  height: 178px;
  left: 201px;
  position: absolute;
  top: 442px;
  width: 145px;
}
.iphone-x-xs-11-pro-9 .group-2-DQIHcd {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 0px;
  width: 53px;
}
.iphone-x-xs-11-pro-9 .group-2-V3VE6U {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-9 .group-2-ViC2sO {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-9 .group-2-ZxpSg6 {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-9 .group-2-dOltAM {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-9 .group-2-rExs9j {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-9 .group-2-sD5BvN {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-9 .group-2-xrkSxx {
  background-color: transparent;
  bottom: 2px;
  height: 24px;
  position: absolute;
  right: 12px;
  width: 24px;
}
.iphone-x-xs-11-pro-9 .group-20-C61RwL {
  background-color: transparent;
  height: 178px;
  left: 30px;
  position: absolute;
  top: 644px;
  width: 145px;
}
.iphone-x-xs-11-pro-9 .group-21-C61RwL {
  background-color: transparent;
  height: 178px;
  left: 201px;
  position: absolute;
  top: 644px;
  width: 145px;
}
.iphone-x-xs-11-pro-9 .group-22-C61RwL {
  background-color: transparent;
  height: 178px;
  left: 30px;
  position: absolute;
  top: 932px;
  width: 145px;
}
.iphone-x-xs-11-pro-9 .group-23-C61RwL {
  background-color: transparent;
  height: 178px;
  left: 201px;
  position: absolute;
  top: 932px;
  width: 145px;
}
.iphone-x-xs-11-pro-9 .group-3-DQIHcd {
  background-color: transparent;
  height: 8px;
  left: 0px;
  position: absolute;
  top: calc(42.40% - 3px);
  width: 47px;
}
.iphone-x-xs-11-pro-9 .group-3-V3VE6U {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-9 .group-3-ViC2sO {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-9 .group-3-ZxpSg6 {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-9 .group-3-dOltAM {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-9 .group-3-rExs9j {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-9 .group-3-sD5BvN {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-9 .group-3-xrkSxx {
  background-color: transparent;
  bottom: 21px;
  height: 7px;
  left: 7px;
  position: absolute;
  width: 27px;
}
.iphone-x-xs-11-pro-9 .icon-awesome-heart-DQIHcd {
  background-color: transparent;
  height: 14px;
  object-fit: cover;
  position: absolute;
  right: 33px;
  top: 22px;
  width: 17px;
}
.iphone-x-xs-11-pro-9 .icon-facebook-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(50.00% - 11px);
  top: 0px;
  width: 23px;
}
.iphone-x-xs-11-pro-9 .icon-instagram-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(25.23% - 6px);
  top: 0px;
  width: 24px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-6XC08w {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-8gZRFW {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-9rRTOq {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-CLw2Fi {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-G5kRGg {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-Goepaf {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-IJXwxM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-MV6WI4 {
  background-color: transparent;
  height: 100%;
  left: calc(49.68% - 4px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-MVNxkq {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-OByIpc {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-OWYU5q {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-SMx4rr {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-U3atmn {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-UobWPY {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-WCRrDs {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-ZMEMu6 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 2px);
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-jYXt7Q {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-rw8vUn {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-tBA5dX {
  background-color: transparent;
  height: 100%;
  left: calc(24.84% - 2px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-tT7Rs9 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-xEWVxr {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-yFSRgf {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-ymedGK {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-zeimyG {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-ionic-ios-star-zqYmnm {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 4px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-material-navigate-next-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 358px;
  object-fit: cover;
  position: absolute;
  top: 995px;
  width: 12px;
}
.iphone-x-xs-11-pro-9 .icon-material-star-half-IJXwxM {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.iphone-x-xs-11-pro-9 .icon-metro-cart-G3eXsx {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-9 .icon-metro-cart-Q6LiSO {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: calc(100.00% - 39px);
}
.iphone-x-xs-11-pro-9 .icon-metro-cart-VTxxpL {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-9 .icon-metro-cart-Xd475k {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-9 .icon-metro-cart-qAsj8h {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-9 .icon-metro-cart-qjSfCO {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-9 .icon-metro-cart-x6bpGS {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-9 .icon-metro-cart-yBcREv {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(42.99% - 6px);
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 14px;
}
.iphone-x-xs-11-pro-9 .icon-metro-truck-wz60dm {
  background-color: transparent;
  bottom: calc(50.00% - 11px);
  height: 21px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 26px;
}
.iphone-x-xs-11-pro-9 .icon-twitter-AGKBKO {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 22px;
}
.iphone-x-xs-11-pro-9 .icons-2tKpzK {
  background-color: transparent;
  height: 12px;
  left: calc(44.49% - 3px);
  position: absolute;
  top: calc(42.02% - 5px);
  width: 6px;
}
.iphone-x-xs-11-pro-9 .icons-VFPwiq {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(48.23% - 6px);
  top: calc(42.02% - 5px);
  width: 12px;
}
.iphone-x-xs-11-pro-9 .icons-hbdSBV {
  background-color: transparent;
  height: 9px;
  left: calc(48.97% - 6px);
  position: absolute;
  top: calc(43.58% - 4px);
  width: 12px;
}
.iphone-x-xs-11-pro-9 .input-group-bas-t-middle-medium-YEvs0s {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .input-group-middle-placeholder-JnQltI {
  background-color: var(--white);
  border: 1px solid #4b4b4b;
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .input-group-middle-placeholder-bHPAwj {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .instagram-167-Rl3ZwM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .masks-of-nyarlathotep-xrkSxx {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 24px);
}
.iphone-x-xs-11-pro-9 .menu-R8ejuj {
  background-color: transparent;
  bottom: calc(39.02% - 6px);
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  width: 16px;
}
.iphone-x-xs-11-pro-9 .navigation-bar-1-W9LZH8 {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .order-status-423M6d {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 63px;
}
.iphone-x-xs-11-pro-9 .path-583-CcEnn8 {
  background-color: transparent;
  bottom: 28.46%;
  height: 1px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 35px);
}
.iphone-x-xs-11-pro-9 .path-584-C61RwL {
  background-color: transparent;
  height: 94px;
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 384px;
}
.iphone-x-xs-11-pro-9 .path-586-C61RwL {
  background-color: transparent;
  height: 274px;
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 384px;
}
.iphone-x-xs-11-pro-9 .path-99-Mw9F9N {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-1391-Q6LiSO {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 29px);
}
.iphone-x-xs-11-pro-9 .rectangle-175-OtOyzk {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-176-Mw9F9N {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-177-W9LZH8 {
  background-color: var(--blumine);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-178-wz60dm {
  background-color: var(--sky-blue);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-179-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 632px;
  left: 11px;
  position: absolute;
  top: 215px;
  width: 353px;
}
.iphone-x-xs-11-pro-9 .rectangle-180-G3eXsx {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-180-Q6LiSO {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 29px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 29px);
}
.iphone-x-xs-11-pro-9 .rectangle-180-VTxxpL {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-180-Xd475k {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-180-qAsj8h {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-180-qjSfCO {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-180-x6bpGS {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-180-yBcREv {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-68-R8ejuj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .rectangle-69-R8ejuj {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 0px;
  position: absolute;
  top: 20px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .search-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 11px;
  position: absolute;
  top: 162px;
  width: 109px;
}
.iphone-x-xs-11-pro-9 .search-R8ejuj {
  background-color: transparent;
  bottom: calc(37.14% - 8px);
  height: 22px;
  position: absolute;
  right: 20px;
  width: 22px;
}
.iphone-x-xs-11-pro-9 .search-results-eldritch-horror-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 17px;
  font-weight: 700;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 129px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-9 .sign-in-join-us-xW2w8C {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 75px;
}
.iphone-x-xs-11-pro-9 .signs-of-carcosa-V3VE6U {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 91px;
}
.iphone-x-xs-11-pro-9 .signs-of-carcosa-sD5BvN {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 91px;
}
.iphone-x-xs-11-pro-9 .similar-to-eldritch-horror-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 17px;
  font-weight: 700;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 888px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-9 .social-follow-wireframe-CcEnn8 {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: 24px;
  top: 18px;
  width: 131px;
}
.iphone-x-xs-11-pro-9 .space-hulk-ViC2sO {
  background-color: transparent;
  bottom: calc(16.67% - 3px);
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 61px;
}
.iphone-x-xs-11-pro-9 .span0-b1xAdP {

}
.iphone-x-xs-11-pro-9 .span0-lL4YhV {

}
.iphone-x-xs-11-pro-9 .span1-b1xAdP {

}
.iphone-x-xs-11-pro-9 .span1-lL4YhV {

}
.iphone-x-xs-11-pro-9 .terms-conditions-5L9TkH {
  background-color: transparent;
  height: 15px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 98px;
}
.iphone-x-xs-11-pro-9 .thegameshop-R8ejuj {
  background-color: transparent;
  bottom: calc(26.92% - 8px);
  cursor: pointer;
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  right: calc(49.04% - 107px);
  text-align: center;
  white-space: nowrap;
  width: 218px;
}
.iphone-x-xs-11-pro-9 .twitter-154-lyL5Gg {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .union-4-OtOyzk {
  background-color: transparent;
  height: calc(100.00% - 2px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .video-C61RwL {
  background-color: transparent;
  height: 129px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 145px;
}
.iphone-x-xs-11-pro-9 .video-V3VE6U {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .video-ViC2sO {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .video-ZxpSg6 {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .video-dOltAM {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .video-rExs9j {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .video-sD5BvN {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .video-xrkSxx {
  background-color: transparent;
  height: calc(100.00% - 49px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-9 .x2021-michael-whitely-911884-CcEnn8 {
  background-color: transparent;
  bottom: 19px;
  height: 15px;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 147px;
}
.iphone-x-xs-11-pro-9 .x2899-DQIHcd {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-9 .x2899-V3VE6U {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-9 .x2899-rExs9j {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-9 .x2899-sD5BvN {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-9 .x36899-ViC2sO {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 45px;
}
.iphone-x-xs-11-pro-9 .x5599-xrkSxx {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-9 .x6899-ZxpSg6 {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.iphone-x-xs-11-pro-9 .x8899-dOltAM {
  background-color: transparent;
  bottom: -2px;
  height: 16px;
  left: 7px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
