/* screen - web-1920-5 */

#overlay-web-1920-5 {
  background-color: transparent;
}
.overlay .web-1920-5 {
  background-color: #00000000;
}
.web-1920-5 {
  background-color: transparent;
  cursor: pointer;
  height: 1892px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-5 .available-now-5XsPIy {
  background-color: transparent;
  height: 15px;
  left: 150px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 76px;
  white-space: nowrap;
  width: 64px;
}
.web-1920-5 .available-now-fgFEXY {
  background-color: transparent;
  height: 15px;
  left: 150px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 62px;
  white-space: nowrap;
  width: 64px;
}
.web-1920-5 .checkout-nixxxd {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
  height: 15px;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 500px;
  white-space: nowrap;
  width: 49px;
}
.web-1920-5 .component-3-3-nixxxd {
  background-color: transparent;
  height: 198px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .component-3-4-nixxxd {
  background-color: transparent;
  bottom: calc(38.01% - 75px);
  height: 198px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.web-1920-5 .delivery-cost-nixxxd {
  background-color: transparent;
  height: 15px;
  left: 78px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 440px;
  white-space: nowrap;
  width: 58px;
}
.web-1920-5 .dropdown-button-down-background-IJYCwl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .dropdown-button-down-background-ra7BPs {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .free-nixxxd {
  background-color: transparent;
  height: 15px;
  left: 195px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 440px;
  white-space: nowrap;
  width: 25px;
}
.web-1920-5 .gloomhaven-fgFEXY {
  background-color: transparent;
  height: 16px;
  left: 150px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: 68px;
}
.web-1920-5 .group-12-5XsPIy {
  background-color: transparent;
  bottom: calc(25.68% - 4px);
  height: 15px;
  left: calc(34.44% - 9px);
  position: absolute;
  width: 27px;
}
.web-1920-5 .group-12-fgFEXY {
  background-color: transparent;
  bottom: calc(25.68% - 4px);
  height: 15px;
  left: calc(34.44% - 9px);
  position: absolute;
  width: 27px;
}
.web-1920-5 .group-3-5XsPIy {
  background-color: transparent;
  height: 8px;
  left: 150px;
  position: absolute;
  top: calc(23.64% - 2px);
  width: 47px;
}
.web-1920-5 .group-3-fgFEXY {
  background-color: transparent;
  height: 8px;
  left: 150px;
  position: absolute;
  top: calc(16.28% - 1px);
  width: 47px;
}
.web-1920-5 .group-40-C61RwL {
  background-color: transparent;
  height: 682px;
  left: 1241px;
  position: absolute;
  top: 83px;
  width: 333px;
}
.web-1920-5 .group-41-C61RwL {
  background-color: transparent;
  height: 540px;
  left: 1279px;
  position: absolute;
  top: 189px;
  width: 268px;
}
.web-1920-5 .icon-ionic-ios-star-0JfMOz {
  background-color: transparent;
  height: 100%;
  left: calc(49.68% - 4px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.web-1920-5 .icon-ionic-ios-star-6ZRXDu {
  background-color: transparent;
  height: 100%;
  left: calc(24.84% - 2px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.web-1920-5 .icon-ionic-ios-star-8Pk1a1 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.web-1920-5 .icon-ionic-ios-star-8rlppa {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 2px);
  top: 1px;
  width: 8px;
}
.web-1920-5 .icon-ionic-ios-star-B5xuNd {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 2px);
  top: 1px;
  width: 8px;
}
.web-1920-5 .icon-ionic-ios-star-CxRrqD {
  background-color: transparent;
  height: 100%;
  left: calc(24.84% - 2px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.web-1920-5 .icon-ionic-ios-star-gRLKRg {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.web-1920-5 .icon-ionic-ios-star-x0xQJa {
  background-color: transparent;
  height: 100%;
  left: calc(49.68% - 4px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 8px;
}
.web-1920-5 .icon-material-star-half-8Pk1a1 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.web-1920-5 .icon-material-star-half-gRLKRg {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 8px;
}
.web-1920-5 .icondropdown-arrow-IJYCwl {
  background-color: transparent;
  height: 3px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 5px;
}
.web-1920-5 .icondropdown-arrow-ra7BPs {
  background-color: transparent;
  height: 3px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 5px;
}
.web-1920-5 .icondropdown-arrowdefault-hJPpe8 {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 5px;
  opacity: 0.7;
  position: absolute;
  right: 7px;
  width: 5px;
}
.web-1920-5 .icondropdown-arrowdefault-nQwmFX {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 5px;
  opacity: 0.7;
  position: absolute;
  right: 7px;
  width: 5px;
}
.web-1920-5 .input-group-bas-t-middle-medium-4D3rEZ {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-bas-t-middle-medium-BlRiqW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-bas-t-middle-medium-rTaGKQ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-bas-t-middle-medium-rzVaOP {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-middle-placeholder-3zQF2K {
  background-color: var(--white);
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-middle-placeholder-JapycK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-middle-placeholder-SFFy3W {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-middle-placeholder-WU7Oas {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-middle-placeholder-XuljZi {
  background-color: var(--white);
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-middle-placeholder-Yrb0xd {
  background-color: var(--white);
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-middle-placeholder-qqYXRk {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .input-group-middle-placeholder-xHtgof {
  background-color: var(--white);
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-5 .quantity-5XsPIy {
  background-color: transparent;
  height: 15px;
  left: 38px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 137px;
  white-space: nowrap;
  width: 38px;
}
.web-1920-5 .quantity-fgFEXY {
  background-color: transparent;
  height: 15px;
  left: 38px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 137px;
  white-space: nowrap;
  width: 38px;
}
.web-1920-5 .rectangle-1468-wA33YG {
  background-color: transparent;
  height: 109px;
  object-fit: cover;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 90px;
}
.web-1920-5 .rectangle-1469-wA33YG {
  background-color: transparent;
  height: calc(100.00% - 72px);
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: calc(100.00% + 9px);
}
.web-1920-5 .rectangle-1470-C61RwL {
  background-color: var(--white);
  height: 22px;
  left: 1481px;
  position: absolute;
  top: 164px;
  width: 93px;
}
.web-1920-5 .rectangle-190-5XsPIy {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .rectangle-190-fgFEXY {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .rectangle-191-nixxxd {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: calc(100.00% - 424px);
  left: 0px;
  position: absolute;
  top: 424px;
  width: 100%;
}
.web-1920-5 .rectangle-192-nixxxd {
  background-color: var(--scooter);
  border-radius: 10px;
  bottom: 20px;
  cursor: pointer;
  height: 27px;
  left: 65px;
  position: absolute;
  width: calc(100.00% - 129px);
}
.web-1920-5 .remove-SFFy3W {
  background-color: transparent;
  height: 13px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: left;
  top: 5px;
  white-space: nowrap;
  width: 34px;
}
.web-1920-5 .remove-qqYXRk {
  background-color: transparent;
  height: 13px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: left;
  top: 5px;
  white-space: nowrap;
  width: 34px;
}
.web-1920-5 .search-5XsPIy {
  background-color: transparent;
  height: calc(100.00% - 177px);
  left: 109px;
  position: absolute;
  top: 165px;
  width: calc(100.00% - 218px);
}
.web-1920-5 .search-fgFEXY {
  background-color: transparent;
  height: calc(100.00% - 177px);
  left: 109px;
  position: absolute;
  top: 165px;
  width: calc(100.00% - 218px);
}
.web-1920-5 .search-hJPpe8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .search-nQwmFX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-5 .the-quest-for-planet-nine-5XsPIy {
  background-color: transparent;
  height: 30px;
  left: 150px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 17px;
  white-space: nowrap;
  width: 112px;
}
.web-1920-5 .total-nixxxd {
  background-color: transparent;
  height: 15px;
  left: 112px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 460px;
  white-space: nowrap;
  width: 24px;
}
.web-1920-5 .video-5XsPIy {
  background-color: transparent;
  height: 115px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 125px;
}
.web-1920-5 .video-fgFEXY {
  background-color: transparent;
  height: 115px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 125px;
}
.web-1920-5 .x1-JapycK {
  background-color: transparent;
  height: 10px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 6px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 5px;
}
.web-1920-5 .x2-WU7Oas {
  background-color: transparent;
  height: 10px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 6px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 5px;
}
.web-1920-5 .x22599-fgFEXY {
  background-color: transparent;
  bottom: 138px;
  height: 16px;
  left: 150px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 45px;
}
.web-1920-5 .x22599-ygxn2j {
  background-color: transparent;
  bottom: 46px;
  height: 16px;
  left: 164px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 45px;
}
.web-1920-5 .x28397-nixxxd {
  background-color: transparent;
  height: 15px;
  left: 195px;
  letter-spacing: -0.10px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 460px;
  white-space: nowrap;
  width: 38px;
}
.web-1920-5 .x2899-5XsPIy {
  background-color: transparent;
  bottom: 124px;
  height: 16px;
  left: 150px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.web-1920-5 .x5798-5XsPIy {
  background-color: transparent;
  bottom: 46px;
  height: 16px;
  left: 164px;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
