/* screen - web-1920-3 */

.web-1920-3 {
  background-color: var(--alabaster);
  height: 1216px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-3 .about-us-DIj6xb {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 50px;
}
.web-1920-3 .across-the-glob-s-will-take-you-C61RwL {
  background-color: transparent;
  color: var(--dodger-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 300;
  height: auto;
  left: 960px;
  letter-spacing: -0.19px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 647px;
  white-space: nowrap;
  width: auto;
}
.web-1920-3 .background-GPZUAK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-3 .background-JAgVKd {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .background-MCDa8t {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .background-k8cCPx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}
.web-1920-3 .background-mxNooC {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .background-vCe9Nr {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .badge-pillh6-extra-small-2P4qUJ {
  background-color: transparent;
  height: 32px;
  left: 960px;
  position: absolute;
  top: 419px;
  width: 126px;
}
.web-1920-3 .badge-pillh6-extra-small-C61RwL {
  background-color: transparent;
  height: 32px;
  left: 960px;
  position: absolute;
  top: 371px;
  width: 112px;
}
.web-1920-3 .badge-pillh6-extra-small-J1YQmd {
  background-color: transparent;
  height: 32px;
  left: 1416px;
  position: absolute;
  top: 372px;
  width: 122px;
}
.web-1920-3 .badge-pillh6-extra-small-QxM5SU {
  background-color: transparent;
  height: 33px;
  left: 1230px;
  position: absolute;
  top: 371px;
  width: 56px;
}
.web-1920-3 .badge-pillh6-extra-small-VMr6Om {
  background-color: transparent;
  height: 32px;
  left: 1090px;
  position: absolute;
  top: 371px;
  width: 122px;
}
.web-1920-3 .badge-pillh6-extra-small-mzXdH9 {
  background-color: transparent;
  height: 33px;
  left: 1307px;
  position: absolute;
  top: 371px;
  width: 88px;
}
.web-1920-3 .badge-pillh6-extra-small-qr8e7q {
  background-color: transparent;
  height: 32px;
  left: 1103px;
  position: absolute;
  top: 419px;
  width: 96px;
}
.web-1920-3 .categories-xxkKyh {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 113px;
}
.web-1920-3 .color-2jKi01 {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .color-Ib0EjZ {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .color-TZTB0J {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .color-Txagr2 {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .color-ajpcrP {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .color-jlZkqG {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .color-jxPFuo {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .coming-soon-C61RwL {
  background-color: transparent;
  height: auto;
  left: 894px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: auto;
}
.web-1920-3 .contact-us-1ucjIu {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 60px;
}
.web-1920-3 .container-right-SrGhxx {
  background-color: transparent;
  height: 14px;
  left: 921px;
  position: absolute;
  top: calc(10.30% - 1px);
  width: 67px;
}
.web-1920-3 .container-right-YBjxkH {
  background-color: transparent;
  height: 14px;
  left: 434px;
  position: absolute;
  top: calc(10.30% - 1px);
  width: 80px;
}
.web-1920-3 .container-right-aZ2SHE {
  background-color: transparent;
  bottom: 0px;
  height: 14px;
  left: 445px;
  position: absolute;
  width: 58px;
}
.web-1920-3 .container-right-i3oOmF {
  background-color: transparent;
  bottom: 0px;
  height: 14px;
  left: 901px;
  position: absolute;
  width: 105px;
}
.web-1920-3 .container-right-sqjdFd {
  background-color: transparent;
  bottom: 0px;
  height: 14px;
  left: 0px;
  position: absolute;
  width: 48px;
}
.web-1920-3 .core-component-breadcrumb-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 295px;
  position: absolute;
  top: 184px;
  width: 274px;
}
.web-1920-3 .core-component-breadcrumb-item-LZDx6q {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 158px;
}
.web-1920-3 .core-component-breadcrumb-item-nMTUYL {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 116px;
}
.web-1920-3 .editors-choice-C61RwL {
  background-color: transparent;
  height: auto;
  left: 673px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: auto;
}
.web-1920-3 .eldritch-horror-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 960px;
  letter-spacing: -0.40px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 267px;
  white-space: nowrap;
  width: auto;
}
.web-1920-3 .eldritch-horror-k8cCPx {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: calc(114.29% - 117px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: calc(18.75% - 4px);
  white-space: nowrap;
  width: 102px;
}
.web-1920-3 .facebook-176-JAgVKd {
  background-color: transparent;
  height: 13px;
  left: calc(44.49% - 3px);
  object-fit: cover;
  position: absolute;
  top: calc(42.02% - 6px);
  width: 7px;
}
.web-1920-3 .follow-us-PQr7Ah {
  background-color: transparent;
  bottom: calc(110.44% - 18px);
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 56px;
}
.web-1920-3 .group-10-I5cRPp {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-3 .group-2-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  left: 1023px;
  position: absolute;
  top: 525px;
  width: 41px;
}
.web-1920-3 .group-26-rflfOo {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 119px;
}
.web-1920-3 .group-27-rflfOo {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 142px);
}
.web-1920-3 .group-28-sUxRyR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .group-29-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 771px;
  position: absolute;
  top: 23px;
  width: 680px;
}
.web-1920-3 .group-3-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 960px;
  position: absolute;
  top: 330px;
  width: 158px;
}
.web-1920-3 .group-30-C61RwL {
  background-color: transparent;
  height: 28px;
  left: 295px;
  position: absolute;
  top: 102px;
  width: 134px;
}
.web-1920-3 .group-31-C61RwL {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 1077px;
  width: 1920px;
}
.web-1920-3 .group-33-aZ2SHE {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}
.web-1920-3 .group-34-GPZUAK {
  background-color: transparent;
  height: 59px;
  left: calc(50.00% - 503px);
  position: absolute;
  top: 20px;
  width: 1006px;
}
.web-1920-3 .group-38-C61RwL {
  background-color: transparent;
  height: 43px;
  left: 960px;
  position: absolute;
  top: 525px;
  width: 43px;
}
.web-1920-3 .icon-awesome-dice-five-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 680px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 36px;
}
.web-1920-3 .icon-awesome-heart-VKtKIU {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 17px);
}
.web-1920-3 .icon-facebook-aZ2SHE {
  background-color: transparent;
  height: 24px;
  left: 63px;
  position: absolute;
  top: 1px;
  width: 27px;
}
.web-1920-3 .icon-instagram-PQr7Ah {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(25.23% - 7px);
  top: 0px;
  width: 28px;
}
.web-1920-3 .icon-ionic-ios-star-NSHvE3 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(24.84% - 6px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 26px;
}
.web-1920-3 .icon-ionic-ios-star-Rt9Xyi {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(49.68% - 13px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 26px;
}
.web-1920-3 .icon-ionic-ios-star-hvAGCq {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 26px;
}
.web-1920-3 .icon-ionic-ios-star-yAjNwx {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 7px);
  top: 1px;
  width: 26px;
}
.web-1920-3 .icon-material-navigate-next-xxkKyh {
  background-color: transparent;
  bottom: calc(44.54% - 4px);
  height: 10px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 16px;
}
.web-1920-3 .icon-material-star-half-hvAGCq {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 27px;
}
.web-1920-3 .icon-metro-cart-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 1509px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 38px;
}
.web-1920-3 .icon-metro-cart-zUixHA {
  background-color: transparent;
  bottom: calc(47.03% - 11px);
  height: 23px;
  left: calc(41.64% - 10px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-3 .icon-open-person-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 1589px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 36px;
}
.web-1920-3 .icon-twitter-PQr7Ah {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25px;
}
.web-1920-3 .icons-MCDa8t {
  background-color: transparent;
  height: 11px;
  left: calc(48.97% - 7px);
  position: absolute;
  top: calc(43.58% - 5px);
  width: 13px;
}
.web-1920-3 .icons-MSwJp0 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-3 .icons-mxNooC {
  background-color: transparent;
  height: 13px;
  position: absolute;
  right: calc(48.23% - 6px);
  top: calc(42.02% - 6px);
  width: 13px;
}
.web-1920-3 .instagram-167-wk3vBx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .label-2jKi01 {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.web-1920-3 .label-Ib0EjZ {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.web-1920-3 .label-TZTB0J {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.web-1920-3 .label-Txagr2 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-helveticaneue-bold);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  height: 30px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.web-1920-3 .label-ajpcrP {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.web-1920-3 .label-jlZkqG {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.web-1920-3 .label-jxPFuo {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-helveticaneue-bold);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  height: 30px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.web-1920-3 .order-status-GFn2Gx {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 69px;
}
.web-1920-3 .path-583-GPZUAK {
  background-color: transparent;
  bottom: 28.46%;
  height: 1px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 35px);
}
.web-1920-3 .path-99-sMGKOE {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-3 .rectangle-1389-tFsWqE {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .rectangle-1390-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 66px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1920px;
}
.web-1920-3 .rectangle-1391-VKtKIU {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .rectangle-176-sMGKOE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .rectangle-177-C61RwL {
  background-color: var(--blumine);
  height: 84px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 1920px;
}
.web-1920-3 .rectangle-179-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 800px;
  left: 295px;
  position: absolute;
  top: 232px;
  width: 1330px;
}
.web-1920-3 .rectangle-180-zUixHA {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .rectangle-192-gTmRJH {
  background-color: var(--scooter);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .rectangle-68-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: -9px;
  width: 1920px;
}
.web-1920-3 .search-for-game-s-or-publishers-tFsWqE {
  background-color: transparent;
  bottom: calc(40.00% - 8px);
  height: 21px;
  left: 39px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 377px;
}
.web-1920-3 .search-gTmRJH {
  background-color: transparent;
  height: 19px;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: 45px;
}
.web-1920-3 .search-results-vCe9Nr {
  background-color: transparent;
  color: #959595;
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: calc(27.12% - 27px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: calc(18.75% - 4px);
  white-space: nowrap;
  width: 99px;
}
.web-1920-3 .search-sUxRyR {
  background-color: transparent;
  bottom: calc(47.06% - 9px);
  height: 19px;
  position: absolute;
  right: 647px;
  width: 19px;
}
.web-1920-3 .sign-in-join-us-UL4Kw3 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 82px;
}
.web-1920-3 .span0-2nfAN0 {
  color: var(--black);
  font-style: normal;
}
.web-1920-3 .span1-2nfAN0 {
  font-style: normal;
}
.web-1920-3 .terms-conditions-EvD6py {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 107px;
}
.web-1920-3 .thegameshop-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 295px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.web-1920-3 .top-rated-C61RwL {
  background-color: transparent;
  height: auto;
  left: 499px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: auto;
}
.web-1920-3 .twitter-154-KCDmcK {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-3 .union-11-mTG8ku {
  background-color: transparent;
  height: calc(100.00% - 11px);
  object-fit: cover;
  position: absolute;
  right: calc(48.95% - 4px);
  top: 5px;
  width: 8px;
}
.web-1920-3 .video-C61RwL {
  background-color: transparent;
  height: 447px;
  left: 315px;
  object-fit: cover;
  position: absolute;
  top: 267px;
  width: 501px;
}
.web-1920-3 .video-QxM5SU {
  background-color: transparent;
  height: 94px;
  left: 627px;
  object-fit: cover;
  position: absolute;
  top: 738px;
  width: 104px;
}
.web-1920-3 .video-VMr6Om {
  background-color: transparent;
  height: 94px;
  left: 362px;
  object-fit: cover;
  position: absolute;
  top: 738px;
  width: 104px;
}
.web-1920-3 .video-mzXdH9 {
  background-color: transparent;
  height: 94px;
  left: 494px;
  object-fit: cover;
  position: absolute;
  top: 738px;
  width: 104px;
}
.web-1920-3 .wireframe-icon-right-LZDx6q {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: calc(48.40% - 12px);
  top: calc(50.00% - 12px);
  width: 24px;
}
.web-1920-3 .x2021-michael-whitely-911884-GPZUAK {
  background-color: transparent;
  bottom: 21px;
  height: 15px;
  left: 888px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 147px;
}
.web-1920-3 .x8899-C61RwL {
  background-color: transparent;
  color: var(--scooter);
  font-family: var(--font-family-roboto);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 960px;
  letter-spacing: -0.35px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 467px;
  white-space: nowrap;
  width: auto;
}
