/* screen - web-1920-6 */

#overlay-web-1920-6 {
  background-color: transparent;
}
.overlay .web-1920-6 {
  background-color: #00000000;
}
.web-1920-6 {
  background-color: transparent;
  cursor: pointer;
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-6 .added-to-cart-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 889px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 212px;
  white-space: nowrap;
  width: auto;
}
.web-1920-6 .rectangle-1471-C61RwL {
  background-color: var(--dodger-blue);
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
  height: 72px;
  left: 780px;
  position: absolute;
  top: 190px;
  width: 360px;
}
