/* screen - web-1920-1 */

.web-1920-1 {
  background-color: var(--alabaster);
  cursor: pointer;
  height: 1892px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.web-1920-1 .about-us-DIj6xb {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 50px;
}
.web-1920-1 .azul-GHj5Ig {
  background-color: transparent;
  bottom: calc(16.80% - 4px);
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 218px);
}
.web-1920-1 .background-GPZUAK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-1 .background-JAgVKd {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .background-MCDa8t {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .background-mxNooC {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .catan-dKxIGx {
  background-color: transparent;
  bottom: calc(16.80% - 4px);
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 204px);
}
.web-1920-1 .categories-xxkKyh {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 113px;
}
.web-1920-1 .codenames-K2UgDK {
  background-color: transparent;
  bottom: calc(16.80% - 4px);
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 151px);
}
.web-1920-1 .coming-soon-C61RwL {
  background-color: transparent;
  height: auto;
  left: 894px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .component-5-1-C61RwL {
  background-color: transparent;
  height: 315px;
  left: 678px;
  position: absolute;
  top: 861px;
  width: 258px;
}
.web-1920-1 .component-5-2-C61RwL {
  background-color: transparent;
  height: 315px;
  left: 983px;
  position: absolute;
  top: 860px;
  width: 258px;
}
.web-1920-1 .component-5-3-C61RwL {
  background-color: transparent;
  height: 315px;
  left: 1287px;
  position: absolute;
  top: 860px;
  width: 258px;
}
.web-1920-1 .component-5-4-C61RwL {
  background-color: transparent;
  height: 315px;
  left: 678px;
  position: absolute;
  top: 1343px;
  width: 258px;
}
.web-1920-1 .component-5-5-C61RwL {
  background-color: transparent;
  height: 315px;
  left: 983px;
  position: absolute;
  top: 1342px;
  width: 258px;
}
.web-1920-1 .component-5-6-C61RwL {
  background-color: transparent;
  height: 315px;
  left: 1287px;
  position: absolute;
  top: 1342px;
  width: 258px;
}
.web-1920-1 .component-5-7-C61RwL {
  background-color: transparent;
  height: 315px;
  left: 373px;
  position: absolute;
  top: 1343px;
  width: 258px;
}
.web-1920-1 .contact-us-1ucjIu {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 60px;
}
.web-1920-1 .container-right-SrGhxx {
  background-color: transparent;
  height: 14px;
  left: 921px;
  position: absolute;
  top: calc(10.30% - 1px);
  width: 67px;
}
.web-1920-1 .container-right-YBjxkH {
  background-color: transparent;
  height: 14px;
  left: 434px;
  position: absolute;
  top: calc(10.30% - 1px);
  width: 80px;
}
.web-1920-1 .container-right-aZ2SHE {
  background-color: transparent;
  bottom: 0px;
  height: 14px;
  left: 445px;
  position: absolute;
  width: 58px;
}
.web-1920-1 .container-right-i3oOmF {
  background-color: transparent;
  bottom: 0px;
  height: 14px;
  left: 901px;
  position: absolute;
  width: 105px;
}
.web-1920-1 .container-right-sqjdFd {
  background-color: transparent;
  bottom: 0px;
  height: 14px;
  left: 0px;
  position: absolute;
  width: 48px;
}
.web-1920-1 .editors-choice-C61RwL {
  background-color: transparent;
  height: auto;
  left: 673px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .eldritch-horror-rXywx8 {
  background-color: transparent;
  bottom: calc(16.61% - 4px);
  cursor: pointer;
  height: 26px;
  left: 12px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 128px;
}
.web-1920-1 .ellipse-1-KOsP6k {
  background-color: var(--white);
  border-radius: 3.5px;
  height: 7px;
  left: 10px;
  position: absolute;
  top: calc(50.00% - 4px);
  width: 7px;
}
.web-1920-1 .ellipse-2-KOsP6k {
  background-color: var(--celeste);
  border-radius: 3.5px;
  height: 7px;
  left: calc(38.03% - 3px);
  position: absolute;
  top: calc(50.00% - 4px);
  width: 7px;
}
.web-1920-1 .ellipse-3-KOsP6k {
  background-color: var(--celeste);
  border-radius: 3.5px;
  height: 7px;
  position: absolute;
  right: calc(38.03% - 3px);
  top: calc(50.00% - 4px);
  width: 7px;
}
.web-1920-1 .ellipse-4-KOsP6k {
  background-color: var(--celeste);
  border-radius: 3.5px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: calc(50.00% - 4px);
  width: 7px;
}
.web-1920-1 .exploding-kittens-Hphtcb {
  background-color: transparent;
  bottom: calc(16.96% - 4px);
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 105px);
}
.web-1920-1 .facebook-176-JAgVKd {
  background-color: transparent;
  height: 13px;
  left: calc(44.49% - 3px);
  object-fit: cover;
  position: absolute;
  top: calc(42.02% - 6px);
  width: 7px;
}
.web-1920-1 .follow-us-PQr7Ah {
  background-color: transparent;
  bottom: calc(110.44% - 18px);
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 56px;
}
.web-1920-1 .group-10-I5cRPp {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-1 .group-2-GHj5Ig {
  background-color: transparent;
  bottom: 1px;
  height: 43px;
  position: absolute;
  right: 26px;
  width: 41px;
}
.web-1920-1 .group-2-Hphtcb {
  background-color: transparent;
  bottom: 2px;
  height: 43px;
  position: absolute;
  right: 26px;
  width: 41px;
}
.web-1920-1 .group-2-JxoQyQ {
  background-color: transparent;
  bottom: 2px;
  height: 43px;
  position: absolute;
  right: 26px;
  width: 41px;
}
.web-1920-1 .group-2-K2UgDK {
  background-color: transparent;
  bottom: 1px;
  height: 43px;
  position: absolute;
  right: 26px;
  width: 41px;
}
.web-1920-1 .group-2-dKxIGx {
  background-color: transparent;
  bottom: 1px;
  height: 43px;
  position: absolute;
  right: 26px;
  width: 41px;
}
.web-1920-1 .group-2-gd86ht {
  background-color: transparent;
  bottom: 2px;
  height: 43px;
  position: absolute;
  right: 26px;
  width: 41px;
}
.web-1920-1 .group-2-qRJZAQ {
  background-color: transparent;
  bottom: 1px;
  height: 43px;
  position: absolute;
  right: 26px;
  width: 41px;
}
.web-1920-1 .group-2-rXywx8 {
  background-color: transparent;
  bottom: 2px;
  cursor: pointer;
  height: 42px;
  position: absolute;
  right: 21px;
  width: 42px;
}
.web-1920-1 .group-26-rflfOo {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 119px;
}
.web-1920-1 .group-27-rflfOo {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 142px);
}
.web-1920-1 .group-28-sUxRyR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .group-29-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 771px;
  position: absolute;
  top: 23px;
  width: 680px;
}
.web-1920-1 .group-3-GHj5Ig {
  background-color: transparent;
  bottom: 34px;
  height: 14px;
  left: 9px;
  position: absolute;
  width: 84px;
}
.web-1920-1 .group-3-Hphtcb {
  background-color: transparent;
  bottom: 35px;
  height: 14px;
  left: 9px;
  position: absolute;
  width: 84px;
}
.web-1920-1 .group-3-JxoQyQ {
  background-color: transparent;
  bottom: 35px;
  height: 14px;
  left: 9px;
  position: absolute;
  width: 84px;
}
.web-1920-1 .group-3-K2UgDK {
  background-color: transparent;
  bottom: 34px;
  height: 14px;
  left: 9px;
  position: absolute;
  width: 84px;
}
.web-1920-1 .group-3-dKxIGx {
  background-color: transparent;
  bottom: 34px;
  height: 14px;
  left: 9px;
  position: absolute;
  width: 84px;
}
.web-1920-1 .group-3-gd86ht {
  background-color: transparent;
  bottom: 35px;
  height: 14px;
  left: 9px;
  position: absolute;
  width: 84px;
}
.web-1920-1 .group-3-qRJZAQ {
  background-color: transparent;
  bottom: 34px;
  height: 14px;
  left: 9px;
  position: absolute;
  width: 84px;
}
.web-1920-1 .group-3-rXywx8 {
  background-color: transparent;
  bottom: 35px;
  height: 13px;
  left: 12px;
  position: absolute;
  width: 49px;
}
.web-1920-1 .group-30-C61RwL {
  background-color: transparent;
  height: 28px;
  left: 295px;
  position: absolute;
  top: 102px;
  width: 134px;
}
.web-1920-1 .group-31-C61RwL {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 1753px;
  width: 1920px;
}
.web-1920-1 .group-32-C61RwL {
  background-color: transparent;
  height: 315px;
  left: 374px;
  position: absolute;
  top: 861px;
  width: 258px;
}
.web-1920-1 .group-33-aZ2SHE {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}
.web-1920-1 .group-34-GPZUAK {
  background-color: transparent;
  height: 59px;
  left: calc(50.00% - 503px);
  position: absolute;
  top: 20px;
  width: 1006px;
}
.web-1920-1 .group-4-C61RwL {
  background-color: transparent;
  height: 17px;
  left: 921px;
  position: absolute;
  top: 712px;
  width: 78px;
}
.web-1920-1 .icon-awesome-dice-five-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 680px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 36px;
}
.web-1920-1 .icon-awesome-heart-C61RwL {
  background-color: transparent;
  height: 23px;
  left: 525px;
  object-fit: cover;
  position: absolute;
  top: 1142px;
  width: 26px;
}
.web-1920-1 .icon-awesome-heart-GHj5Ig {
  background-color: transparent;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: 85px;
  top: 280px;
  width: 26px;
}
.web-1920-1 .icon-awesome-heart-Hphtcb {
  background-color: transparent;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: 85px;
  top: 280px;
  width: 26px;
}
.web-1920-1 .icon-awesome-heart-JxoQyQ {
  background-color: transparent;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: 85px;
  top: 280px;
  width: 26px;
}
.web-1920-1 .icon-awesome-heart-K2UgDK {
  background-color: transparent;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: 85px;
  top: 280px;
  width: 26px;
}
.web-1920-1 .icon-awesome-heart-dKxIGx {
  background-color: transparent;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: 85px;
  top: 280px;
  width: 26px;
}
.web-1920-1 .icon-awesome-heart-gd86ht {
  background-color: transparent;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: 85px;
  top: 280px;
  width: 26px;
}
.web-1920-1 .icon-awesome-heart-qRJZAQ {
  background-color: transparent;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: 85px;
  top: 280px;
  width: 26px;
}
.web-1920-1 .icon-facebook-aZ2SHE {
  background-color: transparent;
  height: 24px;
  left: 63px;
  position: absolute;
  top: 1px;
  width: 27px;
}
.web-1920-1 .icon-instagram-PQr7Ah {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(25.23% - 7px);
  top: 0px;
  width: 28px;
}
.web-1920-1 .icon-ionic-ios-star-2lbqcl {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 4px);
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-2x6WxN {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(24.84% - 3px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-62D1mZ {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-86Td8u {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(49.68% - 7px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-E3xhhz {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-EQ2d8z {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(24.84% - 3px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-EjTYzd {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 4px);
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-F7lX4f {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-Fu2wlT {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(49.68% - 7px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-HT2als {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(24.84% - 3px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-Mcvsk7 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(24.84% - 3px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-NEWF23 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(24.84% - 3px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-NdgwBA {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(49.68% - 7px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-OSV26T {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-Qts6ka {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 7px);
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-Upgp1M {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(24.84% - 3px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-VPW1hp {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 4px);
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-WBxXo1 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 4px);
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-a5mzIT {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(49.68% - 7px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-alW6Gx {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(49.68% - 7px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-bJUHE2 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-c6FxZu {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-nrFdBp {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-p22l8O {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-rp9exR {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 4px);
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-s3Kx4l {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(24.84% - 3px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-wPTZxT {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(49.68% - 7px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-xN6wCD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-xxZc8o {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 4px);
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-xxuLxK {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(25.48% - 4px);
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-ionic-ios-star-y8PRdf {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: calc(49.68% - 7px);
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-material-navigate-next-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 1589px;
  object-fit: cover;
  position: absolute;
  top: 975px;
  width: 22px;
}
.web-1920-1 .icon-material-navigate-next-xxkKyh {
  background-color: transparent;
  bottom: calc(44.54% - 4px);
  height: 10px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 16px;
}
.web-1920-1 .icon-material-star-half-62D1mZ {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 14px;
}
.web-1920-1 .icon-material-star-half-E3xhhz {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 14px;
}
.web-1920-1 .icon-material-star-half-F7lX4f {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 14px;
}
.web-1920-1 .icon-material-star-half-bJUHE2 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-material-star-half-c6FxZu {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-material-star-half-nrFdBp {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 14px;
}
.web-1920-1 .icon-material-star-half-p22l8O {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 14px;
}
.web-1920-1 .icon-metro-cart-Bxuxxb {
  background-color: transparent;
  bottom: calc(47.03% - 11px);
  height: 23px;
  left: calc(41.64% - 10px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-1 .icon-metro-cart-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 1509px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 38px;
}
.web-1920-1 .icon-metro-cart-KPlQ5V {
  background-color: transparent;
  bottom: calc(46.86% - 11px);
  height: 23px;
  left: calc(38.31% - 9px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-1 .icon-metro-cart-c8QMYQ {
  background-color: transparent;
  bottom: calc(47.21% - 11px);
  height: 23px;
  left: calc(41.81% - 10px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-1 .icon-metro-cart-fLtTOI {
  background-color: transparent;
  bottom: calc(47.21% - 11px);
  height: 23px;
  left: calc(41.81% - 10px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-1 .icon-metro-cart-g5mV0o {
  background-color: transparent;
  bottom: calc(47.03% - 11px);
  height: 23px;
  left: calc(41.64% - 10px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-1 .icon-metro-cart-hLPPAX {
  background-color: transparent;
  bottom: calc(47.21% - 11px);
  height: 23px;
  left: calc(41.81% - 10px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-1 .icon-metro-cart-lRI8ce {
  background-color: transparent;
  bottom: calc(47.03% - 11px);
  height: 23px;
  left: calc(41.64% - 10px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-1 .icon-metro-cart-yMZukB {
  background-color: transparent;
  bottom: calc(47.21% - 11px);
  height: 23px;
  left: calc(41.81% - 10px);
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.web-1920-1 .icon-open-person-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 1589px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 36px;
}
.web-1920-1 .icon-twitter-PQr7Ah {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25px;
}
.web-1920-1 .icons-MCDa8t {
  background-color: transparent;
  height: 11px;
  left: calc(48.97% - 7px);
  position: absolute;
  top: calc(43.58% - 5px);
  width: 13px;
}
.web-1920-1 .icons-MSwJp0 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.web-1920-1 .icons-mxNooC {
  background-color: transparent;
  height: 13px;
  position: absolute;
  right: calc(48.23% - 6px);
  top: calc(42.02% - 6px);
  width: 13px;
}
.web-1920-1 .instagram-167-wk3vBx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .kingdomino-qRJZAQ {
  background-color: transparent;
  bottom: calc(16.80% - 4px);
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 151px);
}
.web-1920-1 .new-releases-C61RwL {
  background-color: transparent;
  height: auto;
  left: 310px;
  letter-spacing: -0.30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 788px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .order-status-GFn2Gx {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 69px;
}
.web-1920-1 .pandemic-gd86ht {
  background-color: transparent;
  bottom: calc(16.96% - 4px);
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 168px);
}
.web-1920-1 .path-103-KOsP6k {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: lighten;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .path-583-GPZUAK {
  background-color: transparent;
  bottom: 28.46%;
  height: 1px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 35px);
}
.web-1920-1 .path-99-sMGKOE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-1 .rectangle-1389-tFsWqE {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-1390-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 66px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1920px;
}
.web-1920-1 .rectangle-1391-GHj5Ig {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 272px);
  left: 138px;
  position: absolute;
  top: 270px;
  width: calc(100.00% - 215px);
}
.web-1920-1 .rectangle-1391-Hphtcb {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 272px);
  left: 138px;
  position: absolute;
  top: 270px;
  width: calc(100.00% - 215px);
}
.web-1920-1 .rectangle-1391-JxoQyQ {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 272px);
  left: 138px;
  position: absolute;
  top: 270px;
  width: calc(100.00% - 215px);
}
.web-1920-1 .rectangle-1391-K2UgDK {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 272px);
  left: 138px;
  position: absolute;
  top: 270px;
  width: calc(100.00% - 215px);
}
.web-1920-1 .rectangle-1391-dKxIGx {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 272px);
  left: 138px;
  position: absolute;
  top: 270px;
  width: calc(100.00% - 215px);
}
.web-1920-1 .rectangle-1391-gd86ht {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 272px);
  left: 138px;
  position: absolute;
  top: 270px;
  width: calc(100.00% - 215px);
}
.web-1920-1 .rectangle-1391-qRJZAQ {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 272px);
  left: 138px;
  position: absolute;
  top: 270px;
  width: calc(100.00% - 215px);
}
.web-1920-1 .rectangle-1392-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 444px;
  left: 295px;
  position: absolute;
  top: 1253px;
  width: 1330px;
}
.web-1920-1 .rectangle-1394-C61RwL {
  background-color: transparent;
  border-radius: 5px;
  height: 43px;
  left: 517px;
  position: absolute;
  top: 1132px;
  width: 43px;
}
.web-1920-1 .rectangle-176-sMGKOE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-177-C61RwL {
  background-color: var(--blumine);
  height: 84px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 1920px;
}
.web-1920-1 .rectangle-179-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 1px 3px #00000029;
  height: 444px;
  left: 295px;
  position: absolute;
  top: 771px;
  width: 1330px;
}
.web-1920-1 .rectangle-180-Bxuxxb {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-180-KPlQ5V {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-180-c8QMYQ {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-180-fLtTOI {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-180-g5mV0o {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-180-hLPPAX {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-180-lRI8ce {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-180-yMZukB {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-192-gTmRJH {
  background-color: var(--scooter);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .rectangle-68-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: -9px;
  width: 1920px;
}
.web-1920-1 .search-for-game-s-or-publishers-tFsWqE {
  background-color: transparent;
  bottom: calc(40.00% - 8px);
  height: 21px;
  left: 39px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 377px;
}
.web-1920-1 .search-gTmRJH {
  background-color: transparent;
  height: 19px;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: 45px;
}
.web-1920-1 .search-sUxRyR {
  background-color: transparent;
  bottom: calc(47.06% - 9px);
  height: 19px;
  position: absolute;
  right: 647px;
  width: 19px;
}
.web-1920-1 .sign-in-join-us-UL4Kw3 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 82px;
}
.web-1920-1 .special-C61RwL {
  background-color: transparent;
  height: auto;
  left: 355px;
  letter-spacing: -0.30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1270px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .terms-conditions-EvD6py {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 107px;
}
.web-1920-1 .the-quest-for-planet-nine-JxoQyQ {
  background-color: transparent;
  bottom: calc(16.93% - 4px);
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 33px);
}
.web-1920-1 .title-C61RwL {
  background-color: transparent;
  height: auto;
  left: 295px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .top-rated-C61RwL {
  background-color: transparent;
  height: auto;
  left: 499px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .twitter-154-KCDmcK {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .video-C61RwL {
  background-color: transparent;
  height: 613px;
  left: 295px;
  object-fit: cover;
  position: absolute;
  top: 128px;
  width: 1330px;
}
.web-1920-1 .video-GHj5Ig {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-1 .video-Hphtcb {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .video-JxoQyQ {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-1 .video-K2UgDK {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-1 .video-dKxIGx {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-1 .video-gd86ht {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .video-qRJZAQ {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.web-1920-1 .video-rXywx8 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.web-1920-1 .x1899-Hphtcb {
  background-color: transparent;
  bottom: -2px;
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}
.web-1920-1 .x2021-michael-whitely-911884-GPZUAK {
  background-color: transparent;
  bottom: 21px;
  height: 15px;
  left: 888px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 147px;
}
.web-1920-1 .x2495-K2UgDK {
  background-color: transparent;
  bottom: -2px;
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}
.web-1920-1 .x2899-JxoQyQ {
  background-color: transparent;
  bottom: -2px;
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}
.web-1920-1 .x3999-GHj5Ig {
  background-color: transparent;
  bottom: -2px;
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}
.web-1920-1 .x4675-qRJZAQ {
  background-color: transparent;
  bottom: -2px;
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}
.web-1920-1 .x5699-gd86ht {
  background-color: transparent;
  bottom: -2px;
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}
.web-1920-1 .x5899-rXywx8 {
  background-color: transparent;
  bottom: -2px;
  height: 26px;
  left: 12px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}
.web-1920-1 .x8495-dKxIGx {
  background-color: transparent;
  bottom: -2px;
  height: 26px;
  left: 8px;
  letter-spacing: -0.20px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}
